<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoParroquia.Properties.Settings.ParroquiaConnectionString"
            connectionString="Data Source=.;Initial Catalog=Parroquia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoParroquia.Properties.Settings.Parroquia1ConnectionString"
            connectionString="Data Source=DESKTOP-MSP315D;Initial Catalog=Parroquia1;Persist Security Info=True;User ID=sa;Password=30121995jj"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoParroquia.Properties.Settings.Parroquia1ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Parroquia1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>